{% extends "layouts/base.html" %}

{% block title %} UI Validation {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  #miCanvas {
      border: 1px solid black;
      background-color: #f0f0f0;
      cursor: crosshair;
      touch-action: none; /* Evita el desplazamiento cuando se toca el canvas */
  }
</style>

{% endblock stylesheets %}

{% block content %}

  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Mostrar el QR al comprar entrada</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <!--
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Form elements</li>
              </ol>
              -->
            </nav>
          </div>
          <!--
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>

  <!-- Page content -->
  <div class="container-fluid mt--6">
    
    <div class="row">
      <div class="col">
        <div class="card-wrapper">
          <!-- Custom form validation -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Gracias por tu registro.</h3>
            </div>
            <img id="image" src="data:image/png;base64,{{qr_image_base64}}" alt="Imagen Base64" width="300" height="300"/>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Optional JS -->
  <script>
    //allimg = "data:image/png;base64,{{qr_image_base64}}"
    //var param1var = getQueryVariable("iden");
    //var imageParent = document.getElementById("image")
    //imageParent.src = "data:image/png;base64," + param1var

    function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) {
          return pair[1];
        }
      } 
      alert('Query Variable ' + variable + ' not found');
    }

  </script>



{% endblock javascripts %}
